/**
 * This a stylesheet for scatter porgramming project
 *
 * Programming project
 *
 * Jacob Jasper (10650385)
**/

.d3-tip {
  position: sticky;
  text-align: left;
  width: 300px;
  height: 60px;
  padding: 5px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.btn {
  background-color: blue;
  outline-color: black;
  outline-width: thick;
  color: white;
}

.title {
  text-align:center;
  color: red;
  text-shadow: 0 -1px black;
  font-weight: bold;
  text-decoration: underline;
}

.bullets {
  font-size: 20px;
}
