/**
 * This a stylesheet for scatter porgramming project
 *
 * Programming project
 *
 * Jacob Jasper (10650385)
**/

.d3v4-tip {
  position: sticky;
  text-align: left;
  width: 300px;
  height: 60px;
  padding: 5px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.line-tip {
  position: sticky;
  text-align: left;
  width: 220px;
  height: 48px;
  padding: 5px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.bar-tip {
  position: sticky;
  text-align: left;
  width: 220px;
  height: 35px;
  padding: 5px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.btn {
  background-color: blue;
  outline-color: black;
  outline-width: thick;
  color: white;
}

.title {
  text-align:left;
  color: steelblue;
  font-weight: bold;
}

.bullets {
  font-size: 20px;
}

.rect {
    fill: steelblue;
  }

  .rect:hover {
    fill: brown;
  }
  #legendcontainer{
    width: 50;
    height: 400;
  }

  .axis text {
				font: 10px sans-serif;
			}

			.axis line, .axis path {
				fill: none;
				stroke: #000;
				shape-rendering: crispEdges;
			}
/* svg{ padding-left: 50px;
} */

.jumbotron {
  color: steelblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px red;
  background-image: url("smoking.jpeg"); /*soure: https://www.google.nl/search?\
  q=cover+photos+smoking&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjQysDCy_TbAhXLa1A\
  KHYKqCSoQ_AUICigB&biw=1440&bih=799#imgrc=5uRd2eHaxQue7M:

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center center;
background-repeat: repeat;
background-size: contain;
}

.container {
border: 5px solid #B22222;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 25px;
}
